@import "assets/sass-mixin/index"
.product-offer-price
  font-weight: 600
  &::after
    content: " ₽"
.product-offer-row
  +justify-content-between()
  +mb(10px)
.product-offer-blog
  border-top: 1px solid #a6a6a6
  +mx(-15px)
  +pt(10px)
.product-offer-blog-price-text
  +fz(12px)
.product-offer-blog-quantity
  color: #00b91e
.product-offer-blog-delivery
  color: #d2b77e
