/* Link */
a.link-danger:hover , button.link-danger:hover, .link-danger:hover{
    text-decoration: none;
    color: var(--danger)!important;
} 
a.link-decoration-none:hover{
    text-decoration: none;
}
/* link bg */

/* img */
img{
    width: 100%;
    height: auto;
}
.img-100{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* border */
.bl-0{
    border-right: 0;
}
.border-danger{
    border: 2px solid var(--danger);
}
/*  font-size */
.fz-1{
    font-size: 2rem;
}
.fz-2{
    font-size: 1.8rem;
}
.fz-3{
    font-size: 1.3rem;
}
.fz-4{
    font-size: 1rem;
}
.fz-5{
    font-size: 0.8rem; 
}


/*  error */
.error{
    color:red;
}

/* COLORS */
.text-decoration{
    text-decoration: underline;
}
._text-danger{
    color: var(--danger)!important;
}


/* ВЫСОТА */
.h-100vh{
    height: 100vh;
}


/* ПРОЧЕЕ*/


.break-avoid{
    break-inside: avoid;
}
.shadow{
    box-shadow: 5px 5px 9px 1px #ccc
}



/* column-count*/
.column-count-1{
    column-count: 1;
}
@media (min-width: 576px) {
    .column-count-sm-2{
        column-count: 2;  
    }
  }
@media (min-width: 992px) {
    .column-count-lg-4{
        column-count: 4;
    }
}

/*cursor */
.cursor-pointer{
    cursor: pointer;
}