/* Link */
a.link-danger:hover , button.link-danger:hover, .link-danger:hover{
    text-decoration: none;
    color: #e1002b!important;
} 
a.link-d56971:hover, button.link-d56971:hover , .link-d56971:hover{
    color: #d56971!important;
}
.link-ec0e1d:hover{
    color: #ec0e1d!important;
}


a.link-decoration-none:hover{
    text-decoration: none;
}
.text-decoration{
    text-decoration: underline;
}
button.link-light:hover{
    color: var(--light)!important; 
}
/* link bg */
button.bg-link-danger:hover{
    background-color: #e1002b!important;
}
/* img */
/* border */
.bl-0{
    border-right: 0;
}
.border-danger{
    border: 2px solid #e1002b;
}
/*  font-size */
.fz-1{
    font-size: 2rem;
}
.fz-2{
    font-size: 1.8rem;
}
.fz-3{
    font-size: 1.3rem;
}
.fz-4{ /* 16 в PC версии */
    font-size: 1rem;
}
.fz-5{/* 14 в PC версии */
    font-size: 0.875rem; 
}
.fz-5_5{/* 12px в PC версии */
    font-size: 0.7rem; 
}
.fz-6{/* 11px в PC версии */
    font-size: 0.6875rem; 
}



/* COLORS */
._text-danger{
    color: #e1002b!important;
}
.text-4a4a4a{
    color:#4a4a4a!important;
} 
.text-555{
    color: #555!important;
}
.text-436174{
    color: #436174!important;
}
.text-my-body{
    color:  inherit;
}
.text-576b77{
    color: #576b77!important;
}
.text-00b91e{
    color: #00b91e;
}
/* ПРОЧЕЕ*/


.break-avoid{
    break-inside: avoid;
}
.shadow{
    box-shadow: 5px 5px 9px 1px #ccc
}



/* column-count*/
.column-count-1{
    column-count: 1;
}
@media (min-width: 576px) {
    .column-count-sm-2{
        column-count: 2;  
    }
  }
@media (min-width: 992px) {
    .column-count-lg-4{
        column-count: 4;
    }
}

/*cursor */
.cursor-pointer{
    cursor: pointer;
}


/* bg */
.bg-fafafa{
    background: #fafafa;
}

/* Padding */
.px-10px{
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.pr-10px{
    padding-right: 10px!important;
}
.pl-10px{
    padding-left: 10px!important;
}