/* Link */
a.link-danger:hover,
button.link-danger:hover,
.link-danger:hover {
  text-decoration: none;
  color: #e1002b !important;
}
a.link-d56971:hover,
button.link-d56971:hover,
.link-d56971:hover {
  color: #d56971 !important;
}
.link-ec0e1d:hover {
  color: #ec0e1d !important;
}
a.link-decoration-none:hover {
  text-decoration: none;
}
.text-decoration {
  text-decoration: underline;
}
button.link-light:hover {
  color: var(--light) !important;
}
/* link bg */
button.bg-link-danger:hover {
  background-color: #e1002b !important;
}
/* link border */
.border-link-danger:hover {
  border: 1px solid #e1002b;
}

/* border */
.bl-0 {
  border-right: 0;
}
.border-danger {
  border: 2px solid #e1002b;
}
.border-e1 {
  border: 1px solid #e1e1e1;
}
/* font-size */
.fz-1 {
  font-size: 2rem;
}
.fz-2 {
  font-size: 1.8rem;
}
.fz-3 {
  font-size: 1.3rem;
}
.fz-4 {
  /* 16 в PC версии */
  font-size: 1rem;
}
.fz-5 {
  /* 14 в PC версии */
  font-size: 0.875rem;
}
.fz-5_5 {
  /* 12px в PC версии */
  font-size: 0.7rem;
}
.fz-6 {
  /* 11px в PC версии */
  font-size: 0.6875rem;
}

/* width */
.w-1rem {
  width: 1rem;
}
.w-15{
  width: 15% !important;
}
w-100vw {
  width: 100vw !important;
}
/* COLORS */
.text-e1002b {
  color: #e1002b !important;
}
.text-4a4a4a {
  color: #4a4a4a !important;
}
.text-555 {
  color: #555 !important;
}
.text-436174 {
  color: #436174 !important;
}
.text-my-body {
  color: inherit;
}
.text-576b77 {
  color: #576b77 !important;
}
.text-00b91e {
  color: #00b91e;
}
.text-515151 {
  color: #515151;
}
.text-666 {
  color: #666 !important;
}
.text-d2b77e{
  color: #d2b77e;
}
.text-2d414e {
  color: #2d414e !important;
}
/* ПРОЧЕЕ*/

.break-avoid {
  break-inside: avoid;
}
.shadow {
  box-shadow: 5px 5px 9px 1px #ccc;
}

/* column-count*/
.column-count-1 {
  column-count: 1;
}
@media (min-width: 576px) {
  .column-count-sm-2 {
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .column-count-lg-4 {
    column-count: 4;
  }
  .d-lg-table-header-group {
    display: table-header-group !important;
  }
}

/*cursor */
.cursor-pointer {
  cursor: pointer;
}

/* bg */
.bg-fafafa {
  background: #fafafa;
}

/* Padding */
.px-10px {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.px-15px {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.pr-10px {
  padding-right: 10px !important;
}
.pl-10px {
  padding-left: 10px !important;
}
.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*  ВЫСОТА */
.h-100vh {
  height: 100vh;
}
.h-25vh {
  height: 25vh;
}
.h-30px {
  min-height: 30px;
  height: 100%;
}
.wm-60 {
  max-width: 60%;
}
.overflow-100px {
  overflow-y: auto;
  max-height: 100px;
}

/* position
.bottom-pos-0{
    bottom: 0;
}
*/
.z-index-top {
  z-index: 9999;
}

/*DISPLAY*/
