
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

container {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #555;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: #515151;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  /*margin-top: 0;*/
  /*margin-bottom: 15px;*/
}

h5, .h5 {
  font-size: 13px;
}
h4 {
  font-size: 13px;
  /*margin-bottom: 15px;*/
  font-weight: 700;
}

.container a {
  color: #436174;
  -webkit-transition: color linear 300ms;
  -o-transition: color linear 300ms;
  transition: color linear 300ms;
  text-decoration: underline;
}
.container a:hover{
  text-decoration: none;
}

ul > li:before {
  width: 5px;
  height: 5px;
  margin-right: 12px;
  margin-top: 8px;
  border-radius: 5px;
  background: #c8312b;
}

ol li:before, ul li:before {
  position: absolute;
  top: 0;
  right: 100%;
  color: #c8312b;
  content: '';
}

ol, ul {
  margin: 13px 0;
  counter-reset: chapter 0;
  padding-left: 25px;
}

ol li, ul li {
  margin: 5px 0;
  counter-increment: chapter;
  list-style: none;
  position: relative;
}

ol > li:before {
  width: 25px;
  content: counter(chapter, decimal) ".";
  font-weight: bold;
}

p{
  line-height: 22px;
}




