=cop-padding()
  padding-left: $offset-grid
  padding-right: $offset-grid

=col($n)
  $val: 100% / $columns * $n
  width: #{calc(#{$val} - #{$offset-grid})}
  +cop-padding()
=col-xs($n)
  $val: 100% / $columns * $n
  +xs(width, #{calc(#{$val} - #{$offset-grid})})
  +cop-padding()
=col-md($n)
  $val: 100% / $columns * $n
  +md(width, #{calc(#{$val} - #{$offset-grid})})
  +cop-padding()
=col-sm($n)
  $val: 100% / $columns * $n
  +sm(width, #{calc(#{$val} - #{$offset-grid})})
  +cop-padding()
=col-lg($n)
  $val: 100% / $columns * $n
  +lg(width, #{calc(#{$val} - #{$offset-grid})})
  +cop-padding()
